@import "colours";

button {
  color: white;
  display: inline;
  margin-left: 5px;
  position: relative;
  right: 5px;
  border: none;
  background-color: $secondary-color;
  padding: 10px 14px;
  border-radius: 3px;
  &:hover {
    background-color: $brighter-secondary;
  }
  &:focus {
    outline: none;
  }
  &.icon-button {
    padding: 13px 8px;
  }
}