input {
  font-family: 'Montserrat', serif;
  width: 100%;
  font-size: 36px;
  color: #606060;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(231, 231, 231);
  padding: 3px;
  &:focus {
    outline: none;
  }
}