@import "colours";

nav {
  .navbar-header {
    font-weight: bolder;
    color: black;
  }
  .placeholder {
    cursor: pointer;
    &:hover {
      background-color: white;
    }
    img {
      width: 30px;
      position: relative;
      top: 8px;
    }
  }
  a.active {
    border: 0 solid transparent;
    border-right-width: 1px;
    border-left-width: 1px;
    &.active {
      border-color: $tertiary;
    }
    font-weight: bolder;

  }
}


